<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Mis autos</h1>
        <img src="../static/img/Lunes.jpg" alt=""/>
        <a href="/">TechShop</a>|<a href="/ejemplo2">Mis Autos</a>
        <h2>El de los lunes</h2>
        <p>El mejor lugar para comprar</p>
        <img src="/img/Lunes.jpg" width= "200" alt=""/>
    </body>
</html>
